<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Modern Business - Template</title>
            <link rel="stylesheet" href="css/galery.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Include the above in your HEAD tag -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>

        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/style.css" rel="stylesheet" />
    </head>
    <body class="">
        

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="/">Contraloria</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link text-success fw-bold" href="/">inicio</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                    <li><a class="dropdown-item" href="/galery">Galeria de fotografias</a></li>
                                     {{#if admin}}
                                    <li><hr class="dropdown-divider" /></li>  
                                    <li><a class="dropdown-item" href="/users">Agregar usuario</a></li>
                                    <li><a class="dropdown-item" href="/images">Agregar fotografias</a></li>
                                    <li><hr class="dropdown-divider" /></li>  
                                    <li><a class="dropdown-item" href="/cerrar">Cerrar sesión</a></li>
                                    {{/if}}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>


    <div class="container col-md-12 row mt-5 d-flex justify-content-center">
        {{!-- ============================================= --}}
    {{#if admin}}
        {{#each imagen}}
    <div class="card col-md-3 m-1 shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 18rem;">
        <img src="data:image/jpeg;base64,{{imagen_base64}}" alt="imagen"  class="card-img-top">
        <div class="card-body">
            <p class="card-title fw-bold">{{nombre}}</p>
            <p class="card-text ">{{descripcion}}</p>
             <a href="/eliminar/card/users/{{this.id}}" class="btn btn-danger">Eliminar</a>
        </div>
    </div>
        {{/each}}
    {{else}}
     {{#each imagen}}
    <div class="card col-md-3 m-1 shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 18rem;">
        <img src="data:image/jpeg;base64,{{imagen_base64}}" alt="imagen"  class="card-img-top p-1">
        <div class="card-body">
            <h5 class="card-title" style="font-weight: bold;">{{nombre}}</h5>
            <p class="card-text">"{{descripcion}}"</p>
        </div>
    </div>
    {{/each}}
    {{/if}}
    </div>

       
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>


